@value variables: "../../../common/variables.css";
@value white, xxxs-size from variables;

.chemicals {
    display: flex;
    flex-direction: column;
    margin: xxxs-size;
    padding: xxxs-size;

    background: white;
    height: 100%;

    border-radius: 5px;
}

.listWrapper {
    overflow-y: auto;
    flex-grow: 1;
}