@value variables: "../../../common/variables.css";
@value font-size-xxsmall, natural-dark, xs-size from variables;

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.showRecordText {
    font-size: font-size-xxsmall;
    color: natural-dark;

    margin-left: xs-size;
    margin-right: xs-size;
}