@value variables: "../../../common/variables.css";
@value white, xxs-size, s-size from variables;

.chemicals {
    display: flex;
    flex-direction: column;
    margin: xxs-size;
    padding: s-size;


    background: white;
    height: 100%;

    border-radius: 5px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108)
}

.listWrapper {
    overflow-y: auto;
    flex-grow: 1;
}