@value variables: "../../../../common/variables.css";
@value natural-dark, white, xxs-size from variables;

.tooltip {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: black;
}

.date {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    color: natural-dark;
}