@value variables: "common/variables.css";
@value font-size-xsmall, natural from variables;

.appWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-grow: 1;

  background-color: natural;

  font-size: font-size-xsmall;
}

